/* Global Css Start */

a:hover {
  text-decoration: none;
}
@media (min-width: 1250px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}
@font-face {
  font-family: 'SegoeUIBlack';
  src: url('../fonts/SegoeUIBlack.eot?#iefix') format('embedded-opentype'), url('../fonts/SegoeUIBlack.woff') format('woff'), url('../fonts/SegoeUIBlack.ttf') format('truetype'), url('../fonts/SegoeUIBlack.svg#SegoeUIBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Global Css End */

body {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.4px;
}
/* Header Start */

header.header-scrolled,
header.header-pages {
  background: rgba(142, 52, 239, 0.98);
  box-shadow: 0px 0px 30px rgba(142, 52, 239, 0.3);
  padding-top: 15px;
}
header .logo {
  padding-left: 15px;
}
header.header-scrolled .logo img {
  transition: all ease 0.5s;
}
header {
  padding: 30px 0 15px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  z-index: 997;
}
header nav ul,
header nav ul li {
  float: right;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  float: left;
  position: relative;
  margin: 0px 15px;
}
header nav ul li:last-child {
  margin: 0 15px 0 0;
}
header nav ul li a {
  padding: 10px 15px;
  line-height: 30px;
  color: rgb(248, 221, 254);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
  position: relative;
  letter-spacing: 1px;
}
header nav ul li a:hover,
header nav ul li a.active {
  color: rgb(255, 255, 255);
}
header nav ul li a.login {
  line-height: 40px;
  font-size: 12px;
  background: white;
  color: rgb(142, 52, 239);
  padding: 10px 30px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
header nav ul li a.cart {
  line-height: 30px;
  width: 30px;
  height: 30px;
  position: relative;
  background: url(../images/cart.png) no-repeat scroll center;
}
header nav ul li a.cart span {
  font-family: 'Montserrat', sans-serif;
  height: 17px;
  border: 1px solid rgb(255, 255, 255);
  background: rgb(142, 52, 239);
  color: rgb(255, 255, 255);
  text-align: right;
  float: right;
  min-width: 17px;
  display: inline-block;
  line-height: 15px;
  font-size: 10px;
  padding: 0 3px;
  -webkit-border-radius: 8.5px;
  border-radius: 8.5px;
  position: absolute;
  top: 0;
  right: 0;
}
header nav ul li a.search {
  line-height: 30px;
  width: 30px;
  height: 30px;
  margin: 25.5px 0px 25.5px 5px;
  background: url(../images/search.png) no-repeat scroll center;
}
header nav ul li a.login:before,
header nav ul li a.cart:before,
header nav ul li a.search:before {
  display: none !important;
}
header nav ul li.has-dropdown ul {
  position: absolute;
  top: 100%;
  margin-top: -25.5px;
  left: 15px;
  width: 240px;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: none;
}
header nav ul li.has-dropdown:hover ul {
  display: block;
}
header nav ul li.has-dropdown:hover > a {
  color: white;
}
header nav > ul > li > a:hover:before,
header nav > ul > li > a.active:before {
  content: " ";
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  bottom: 0%;
  left: 50%;
  margin-left: -2.5px;
}
header nav ul li.has-dropdown ul a {
  margin: 0;
  padding: 0 5px;
  color: black;
}
.main-nav ul {
  margin-top: 25px;
}
/*================Mobile Menu================*/

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(142, 52, 239, 0.8);
  transition: 0.4s;
}
.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}
.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #74b5fc;
  text-decoration: none;
}
.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}
.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}
.mobile-nav .drop-down > a {
  padding-right: 35px;
}
.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}
.mobile-nav .drop-down li {
  padding-left: 20px;
}
.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}
.mobile-nav-toggle i {
  margin: 30px 30px 0 0;
  color: #fff;
}
.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}
.mobile-nav-active {
  overflow: hidden;
}
.mobile-nav-active .mobile-nav {
  left: 0;
}
.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}
/* Header End */

/* Banner Start */

.home-banner {
  background: url("../images/banner-bg.png") no-repeat scroll center;
  padding: 250px 0 0px;
  background-size: cover;
}
.home-banner h2 {
  font-size: 72px;
  line-height: 90px;
  font-family: 'SegoeUIBlack';
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  float: left;
  position: relative;
  margin-bottom: 30px;
}
.large-m {
  margin-bottom: 50px;
}
.home-banner h2:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 98px;
  width: 50%;
  background: rgba(234, 241, 253, 0.15);
}
.home-banner p {
  font-size: 18px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  color: white;
  line-height: 30px;
}
.home-banner a.btn,
.btn.btn-white,
.btn-purple {
  padding: 10px 38px;
  background: white;
  color: rgb(142, 52, 239);
  font-size: 13px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  border-radius: 25px;
  letter-spacing: 1px;
  border: 1px solid #fff;
  line-height: 28px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.26);
}
.home-banner a.btn-purple,
.btn.btn-purple {
  background: rgb(142, 52, 239);
  color: white;
}
/* Banner End */

/* Product List Start */

.product-list {
  padding: 30px 0;
}
.product-list h2 {
  color: rgb(1, 9, 39);
  font-family: 'SegoeUIBlack';
  font-weight: normal;
  font-size: 60px;
  text-align: center;
}
.product-list p {
  text-align: center;
  color: rgb(106, 117, 122);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.product-list .list-row .plan {
  background: rgb(246, 247, 250);
  border-radius: 12px;
  position: relative;
  margin-top: 70px;
  transition: all ease 0.5s;
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
}
.product-list .list-row .plan:hover {
  margin-top: 50px;
  background: rgb(139, 64, 227);
  border: none;
  box-shadow: 0 10px 29px 0 rgba(142, 52, 239, 0.25);
}
.product-list .list-row .plan .price-cont {
  background: #fff;
  padding-top: 44px;
  text-align: center;
  clip-path: circle(100% at top);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.product-list .list-row .plan:hover .price-cont {
  background: rgb(231, 127, 253);
}
.product-list .list-row .plan:hover .price-cont img {
  filter: brightness(0) invert(1)
}
.product-list .list-row .plan.most .price-cont {
  padding-top: 64px;
  background: url(../images/price-cont-un-btm.jpg) no-repeat scroll bottom center, rgb(231, 127, 253);
}
.product-list .list-row .plan .price-cont h4 {
  font-size: 24px;
  color: rgb(174, 111, 236);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 20px 0 0;
}
.plan-btn {
  text-align: center;
  padding-bottom: 25px;
}
.product-list .list-row .plan .btn.btn-purple {
  border: 1px solid rgb(142, 52, 239);
}
.product-list .list-row .plan:hover .btn.btn-purple {
  background: #fff;
  color: rgb(142, 52, 239);
  border: 1px solid rgb(142, 52, 239);
}
.product-list .list-row .plan:hover .most-tag {
  background: #fff;
  color: rgba(142, 52, 239, 0.98);
}
.product-list .list-row .plan:hover ul li,
.product-list .list-row .plan:hover .price-cont h3,
.product-list .list-row .plan:hover .price-cont h5,
.product-list .list-row .plan:hover h4,
.product-list .list-row .plan:hover h3,
.product-list .list-row .plan:hover h5 {
  color: #fff;
}
.most-tag {
  background: rgba(142, 52, 239, 0.98);
  position: absolute;
  color: #fff;
  z-index: 5;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 13px;
  text-transform: uppercase;
  top: 15px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
  left: -10px;
}
.product-list .list-row .plan .price-cont h3 {
  font-weight: 800;
  font-size: 46px;
  color: rgb(139, 64, 227);
}
.product-list .list-row .plan .price-cont h5 {
  font-size: 18px;
  color: rgb(106, 117, 122);
  font-weight: 600;
  padding: 0 0 30px;
}
.product-list .list-row .plan ul,
.product-list .list-row .plan ul li {
  list-style-type: none;
  list-style: none;
  margin: 0;
  font-size: 14px;
  color: #6a757a;
  padding: 12px 10px;
  text-align: center;
}
/* Product List End */

/* Our Guarantees Start */

.our-guarantees .main-heading .clr-wht {
  color: #fff;
}
.our-guarantees {
  background: url(../images/our-guarantees-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.our-guarantees .container > .row > .col-12 > h2,
.our-guarantees .container > .row > .col-12 > p {
  color: white;
}
.our-guarantees .container > .row > .col-12 > p {
  margin-bottom: 100px;
}
.our-guarantees .col-lg-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.our-guarantees .content {
  padding: 23px 15px;
  background: white;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 330px;
  max-height: 350px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}
.our-guarantees .content img {
  margin-bottom: 25px;
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.our-guarantees .content h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: rgb(1, 9, 39);
  position: relative;
}
.our-guarantees .content h4:after {
  height: 4px;
  border-radius: 5px;
  width: 25px;
  position: absolute;
  content: '';
  display: block;
  left: 0;
  background: #dad6ff;
  top: 33px;
}
.our-guarantees p {
  color: rgb(106, 117, 122);
  font-size: 14px;
  margin-top: 30px;
}
/* Our Guarantees End */

/*--------------------------------------------------------------
# Customer Say Section
--------------------------------------------------------------*/

.quote-img {
  background-image: url("../images/quate.png");
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 15px;
}
.customer-say .service-slider .card-footer {
  padding: 0;
  border: 0;
}
.customer-say .common-card {
  padding: 20px;
}
.social-links {
  padding-left: 15px;
  margin-bottom: 0;
}
.social-links li a {
  font-size: 20px;
  margin-right: 5px;
}
.social-links li a .fa-facebook {
  color: #2a40e5;
}
.social-links li a .fa-dribbble {
  color: #ea4c89;
}
.social-links li a .fa-twitter {
  color: #15aff5;
}
/*--------------------------------------------------------------
# Box Section
--------------------------------------------------------------*/

.box-full-size {
  background: url("../images/lets-start-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  border-radius: 20px;
}
.box-full-size .title {
  font-size: 40px;
  font-weight: 600;
}
.get-start p {
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}
.box-full-size .btn.lg {
  height: 70px;
  line-height: 50px;
  border-radius: 60px;
}
/*--------------------------------------------------------------
# Latest News
--------------------------------------------------------------*/

.section {
  padding: 100px 0;
}
.main-heading {
  margin-bottom: 50px;
}
.main-heading .title {
  color: rgb(1, 9, 39);
  font-family: 'SegoeUIBlack';
  font-weight: normal;
  font-size: 60px;
  margin-bottom: 25px;
}
.sub-title {
  text-align: center;
  color: rgb(106, 117, 122);
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2.5px;
}
.slick-dots li button::before {
  font-size: 40px !important;
}
.slick-initialized .slick-slide {
  margin: 0 15px;
}
.service-slider-in {
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 15px;
}
.common-card {
  border-bottom: 0px;
  padding: 20px;
}
.common-card h5 {
  font-size: 17px;
  font-weight: 600;
  margin: 20px 0px 12px;
}
.common-card p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #6a757a;
}
.tag {
  padding: 4px 20px;
  background-image: linear-gradient(180deg, #f97a2e82 0.98%, #f97a2e);
  border-radius: 4px;
  color: #fff;
  font-size: 10px;
  letter-spacing: 1px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  font-weight: 300;
}
.tag.market-btn {
  background-image: linear-gradient(180deg, #35acfb9e 0.98%, #35acfb);
}
.author-description {
  font-size: 13px;
  margin-left: 15px;
  color: #6a757a;
}
.author-description strong {
  color: #010927;
}
.service-slider .card-footer {
  padding: 20px;
  background: #fff;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.service-slider .slick-dots {
  bottom: -60px;
}
.slick-dots li button::before {
  color: rgb(142, 52, 239) !important;
}
.slick-dots li.slick-active button::before {
  color: rgb(142, 52, 239) !important;
}
/*--------------------------------------------------------------
# Product features
--------------------------------------------------------------*/

.product-back {
  padding: 230px 0 70px;
  background-image: url("../images/product-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.product-features p {
  margin: 30px 0 50px;
}
.small-title {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #fff;
  color: #bfbfbf;
  font-size: 14px;
}
#footer .footer-top {
  background: #ffff;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-links h5 {
  margin-bottom: 20px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #010927;
}
#footer p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #6a757a;
  font-weight: 400;
}
.copy .social-links a {
  display: inline-block;
  padding: 15px 5px;
  transition: 0.3s;
}
.lg-right {
  float: right;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}
#footer .footer-top .footer-links ul a {
  color: #6a757a;
  font-size: 14px;
  font-weight: 500;
}
.address-block span {
  box-shadow: 0px 0px 19px -6px rgba(0, 0, 0, 0.26);
  padding: 1px 6px;
  border: 1px solid;
  border-radius: 50%;
  margin-right: 5px;
}
.address-block span .fa {
  color: rgb(142, 52, 239);
}
.copy {
  background: url("../images/lets-start-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#footer .footer-top .footer-links ul a:hover {
  color: rgb(142, 52, 239);
}
#footer .copyright {
  padding: 26px 15px 0;
  color: #fff;
  padding-left: 15px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}