
@font-face {
  font-family: 'SegoeUIBlack';
  src: url('SegoeUIBlack.eot?#iefix') format('embedded-opentype'),  url('SegoeUIBlack.woff') format('woff'), url('SegoeUIBlack.ttf')  format('truetype'), url('SegoeUIBlack.svg#SegoeUIBlack') format('svg');
  font-weight: normal;
  font-style: normal;
}
